#navbarBigSight {
    height: 94px;
    width: 100vw;
    box-shadow: 0 4px 4px 0px rgb(0, 0, 0, 0.11);
    display: flex;
    background-color: white;
}

.BigSightNavbarLogo {
    width: 148px;
    height: 87px;
    /* margin-left: 164px; */
    margin-top: 9px;
}

.BigSightnavbarMenu-container {
    margin-left: 174px;
}

.BigSightNavbarMenu {
    color: black;
    text-decoration: none;
    font-size: 13px;
    text-transform: uppercase;
    font-family: poppins-500;
    position: relative;
    top: 5px;
}

.BigSightNavbarMenu:hover {
    color: #d23d3d;
}

.BigSightNavbarMenuMarginLeft {
    margin-left: 33px;
}

.BigSightNavbarMenuDropdown {
    color: black;
    text-decoration: none;
    font-size: 13px;
    text-transform: uppercase;
    font-family: poppins-500;
}

.BigSightDropDown-Menu1 {
    color: black;
    font-size: 13px;
    text-decoration: none;
    letter-spacing: 0.5px;
    font-family: poppins-500;
    position: relative;
    left: 20px;
}

.BigSightDropDown-Menu1-Row2{
    position: relative;
    bottom: 10px;
}
.BigSightDropDown-Menu1-Row3 {
    position: relative;
    bottom: 20px;
}