.BigSightNavbar-Container {
    position: fixed;
    top: 0;
    height: auto;
    z-index: 2;
}

.BigSight-LandingPage-Container-Section2-Section3 {
    box-shadow: 24px 8px 24px 16px rgba(0, 0, 0, 0.25);
}
